In [14]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib as matlib

In [31]:
telco_customer_data = pd.read_csv("TelcoData.csv")
telco_customer_data

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_internet_and_phone,partner_dependents,Start_day,Monthly_charges,Validation,Contract Type,Phone Type,Internet Type,Monthly Tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,...,True,True,3,2020-05-03,65.6,1,1 Year,One Line,DSL,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,...,True,True,0,2020-05-03,59.9,1,Month-to-Month,Two or More Lines,DSL,9.0
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,...,True,True,0,2020-11-03,73.9,1,Month-to-Month,One Line,Fiber Optic,4.0
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,...,True,True,1,2020-02-03,98,1,Month-to-Month,One Line,Fiber Optic,13.0
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,...,True,True,1,2020-11-03,83.9,1,Month-to-Month,One Line,Fiber Optic,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,NaN,Female,0,No,No,1,1,1,Mailed check,55.15,...,True,True,0,2020-01-03,55.15,1,3,One Line,DSL,13.0
7045,NaN,Male,0,Yes,No,2,2,0,Electronic check,85.10,...,True,True,1,2019-04-03,85.1,1,3,Two or More Lines,Fiber Optic,22.0
7046,NaN,Male,0,No,No,1,1,0,Mailed check,50.30,...,True,True,0,2021-01-03,50.3,1,3,One Line,DSL,2.0
7047,NaN,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,...,True,True,3,2015-06-03,67.85,1,3,One Line,DSL,68.0
7048,NaN,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,...,True,False,3,2015-12-03,59,1,3,No Phone Service,DSL,63.0

In [38]:
telco_customer_data.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,Tenure_month,partner_dependents,Monthly Tenure
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000,7049.000000,7049.000000,7049.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883,32.380068,1.083416,32.374805
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984,24.594926,1.226883,24.596637
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500,8.700000,0.000000,9.000000
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000,28.700000,1.000000,29.000000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000,55.200000,2.000000,55.000000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000,79.300000,3.000000,79.000000

In [39]:
telco_customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7049 non-null   object
 2   is_senior_citizen       7049 non-null   int64
 3   partner                 7049 non-null   object
 4   dependents              7049 non-null   object
 5   phone_service           7049 non-null   int64
 6   internet_service        7049 non-null   int64
 7   contract_type           7049 non-null   int64
 8   payment_type            7049 non-null   object
 9   monthly_charges         7049 non-null   float64
 10  total_charges           7038 non-null   float64
 11  churn                   7049 non-null   object
 12  Tenure_month            7049 non-null   float64
 13  FALSE                   7049 non-null   bool
 14  has_chruned             7049 non-null   bool
 15  has_phone               7049 non-null   bool
 16  has_internet            7049 non-null   bool
 17  has_internet_and_phone  7049 non-null   bool
 18  partner_dependents      7049 non-null   int64
 19  Start_day               7049 non-null   object
 20  Monthly_charges         7049 non-null   object
 21  Validation              7049 non-null   object
 22  Contract Type           7049 non-null   object
 23  Phone Type              7049 non-null   object
 24  Internet Type           7049 non-null   object
 25  Monthly Tenure          7049 non-null   float64
dtypes: bool(5), float64(4), int64(5), object(12)
memory usage: 1.2+ MB

In [48]:
telco_customer_data = telco_customer_data.rename(columns={'Monthly Tenure': 'monthly_tenure'})

In [49]:
telco_customer_data = telco_customer_data.rename(columns={'Internet Type': 'internet_type'})

In [50]:
telco_customer_data.groupby('internet_type').customer_id.count()

internet_type
DSL                    2418
Fiber Optic            3097
No Internet Service    1528
Name: customer_id, dtype: int64